certifi==2020.12.5
chardet==4.0.0
elasticsearch==7.10.1
idna==2.10
kafka-python==2.0.2
oauthlib==3.1.0
-e git://github.com/nipunbalan/procstream-kafka-python.git#egg=procestream_kafka_python
PySocks==1.7.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
tweepy==3.10.0
urllib3==1.26.2
